*{margin:0;padding:0;box-sizing:border-box;}

body, html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

#inputs{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35px;
    top: 35px;
}

table{
    border-collapse: collapse;
}

td{
    height: 125px;
    width: 125px;
    border: 1px solid black;
    position: relative;
}

.cross{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
